/* ----------- iPhone 4 and 4S ----------- */

/* Вертикальное и Горизонтальное*/

@media only screen and (min-device-width:
320px)

and (max-device-width: 480px)

and (-webkit-min-device-pixel-ratio: 2) {.className{color:red;}
.Nigger{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.idk{
    color: rgb(119, 119, 1);
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.oh{
    color:rgb(119, 119, 1);
    font-size: 25px;
}
.ahahah{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.how{
    background-image: url('C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/image/backgrr.PNG');
}
@font-face {
    font-family: "Minecraft_Seven_2";
    src: url(C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/nooo/Minecraft_Seven_2.ttf) format("truetype");
}
p {font-family: 'Minecraft_Seven_2', Arial, sans-serif;}}

/* Вертикальное */

@media only screen and (min-device-width:
320px)

and (max-device-width: 480px)

and (-webkit-min-device-pixel-ratio: 2)

and (orientation: portrait) {.className{color:red;}
.Nigger{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.idk{
    color: rgb(119, 119, 1);
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.oh{
    color:rgb(119, 119, 1);
    font-size: 25px;
}
.ahahah{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.how{
    background-image: url('C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/image/backgrr.PNG');
}
@font-face {
    font-family: "Minecraft_Seven_2";
    src: url(C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/nooo/Minecraft_Seven_2.ttf) format("truetype");
}
p {font-family: 'Minecraft_Seven_2', Arial, sans-serif;}}

/* Горизонтальное */

@media only screen and (min-device-width:
320px)

and (max-device-width: 480px)

and (-webkit-min-device-pixel-ratio: 2)

and (orientation: landscape) {.className{color:red;}
.Nigger{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.idk{
    color: rgb(119, 119, 1);
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.oh{
    color:rgb(119, 119, 1);
    font-size: 25px;
}
.ahahah{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.how{
    background-image: url('C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/image/backgrr.PNG');
}
@font-face {
    font-family: "Minecraft_Seven_2";
    src: url(C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/nooo/Minecraft_Seven_2.ttf) format("truetype");
}
p {font-family: 'Minecraft_Seven_2', Arial, sans-serif;}}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Вертикальное и Горизонтальное */

@media only screen and (min-device-width:
320px) and (max-device-width: 568px)

and (-webkit-min-device-pixel-ratio: 2) {.className{color:red;}
.Nigger{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.idk{
    color: rgb(119, 119, 1);
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.oh{
    color:rgb(119, 119, 1);
    font-size: 25px;
}
.ahahah{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.how{
    background-image: url('C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/image/backgrr.PNG');
}
@font-face {
    font-family: "Minecraft_Seven_2";
    src: url(C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/nooo/Minecraft_Seven_2.ttf) format("truetype");
}
p {font-family: 'Minecraft_Seven_2', Arial, sans-serif;}}

/* Вертикальное */

@media only screen and (min-device-width:
320px) and (max-device-width: 568px)

and (-webkit-min-device-pixel-ratio: 2)

and (orientation: portrait) {.className{color:red;}
.Nigger{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.idk{
    color: rgb(119, 119, 1);
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.oh{
    color:rgb(119, 119, 1);
    font-size: 25px;
}
.ahahah{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.how{
    background-image: url('C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/image/backgrr.PNG');
}
@font-face {
    font-family: "Minecraft_Seven_2";
    src: url(C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/nooo/Minecraft_Seven_2.ttf) format("truetype");
}
p {font-family: 'Minecraft_Seven_2', Arial, sans-serif;}}

/* Горизонтальное */

@media only screen and (min-device-width:
320px) and (max-device-width: 568px)

and (-webkit-min-device-pixel-ratio: 2)

and (orientation: landscape) {.className{color:red;}
.Nigger{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.idk{
    color: rgb(119, 119, 1);
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.oh{
    color:rgb(119, 119, 1);
    font-size: 25px;
}
.ahahah{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.how{
    background-image: url('C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/image/backgrr.PNG');
}
@font-face {
    font-family: "Minecraft_Seven_2";
    src: url(C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/nooo/Minecraft_Seven_2.ttf) format("truetype");
}
p {font-family: 'Minecraft_Seven_2', Arial, sans-serif;}}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Вертикальное и Горизонтальное */

@media only screen and (min-device-width:
375px) and (max-device-width: 667px)

and (-webkit-min-device-pixel-ratio: 2) {.className{color:red;}
.Nigger{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.idk{
    color: rgb(119, 119, 1);
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.oh{
    color:rgb(119, 119, 1);
    font-size: 25px;
}
.ahahah{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.how{
    background-image: url('C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/image/backgrr.PNG');
}
@font-face {
    font-family: "Minecraft_Seven_2";
    src: url(C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/nooo/Minecraft_Seven_2.ttf) format("truetype");
}
p {font-family: 'Minecraft_Seven_2', Arial, sans-serif;}}

/* Вертикальное */

@media only screen and (min-device-width:
375px) and (max-device-width: 667px)

and (-webkit-min-device-pixel-ratio: 2)

and (orientation: portrait) {.className{color:red;}
.Nigger{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.idk{
    color: rgb(119, 119, 1);
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.oh{
    color:rgb(119, 119, 1);
    font-size: 25px;
}
.ahahah{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.how{
    background-image: url('C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/image/backgrr.PNG');
}
@font-face {
    font-family: "Minecraft_Seven_2";
    src: url(C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/nooo/Minecraft_Seven_2.ttf) format("truetype");
}
p {font-family: 'Minecraft_Seven_2', Arial, sans-serif;}}

/* Горизонтальное */

@media only screen and (min-device-width:
375px) and (max-device-width: 667px)

and (-webkit-min-device-pixel-ratio: 2)

and (orientation: landscape) {.className{color:red;}
.Nigger{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.idk{
    color: rgb(119, 119, 1);
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.oh{
    color:rgb(119, 119, 1);
    font-size: 25px;
}
.ahahah{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.how{
    background-image: url('C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/image/backgrr.PNG');
}
@font-face {
    font-family: "Minecraft_Seven_2";
    src: url(C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/nooo/Minecraft_Seven_2.ttf) format("truetype");
}
p {font-family: 'Minecraft_Seven_2', Arial, sans-serif;}}

/* ----------- iPhone X ----------- */

/* Вертикальное и Горизонтальное */

@media only screen and (min-device-width:
375px) and (max-device-width: 812px)

and (-webkit-min-device-pixel-ratio: 3) {.className{color:red;}
.Nigger{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.idk{
    color: rgb(119, 119, 1);
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.oh{
    color:rgb(119, 119, 1);
    font-size: 25px;
}
.ahahah{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.how{
    background-image: url('C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/image/backgrr.PNG');
}
@font-face {
    font-family: "Minecraft_Seven_2";
    src: url(C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/nooo/Minecraft_Seven_2.ttf) format("truetype");
}
p {font-family: 'Minecraft_Seven_2', Arial, sans-serif;}}

/* Вертикальное */

@media only screen and (min-device-width:
375px) and (max-device-width: 812px)

and (-webkit-min-device-pixel-ratio: 3)

and (orientation: portrait) {.className{color:red;}
.Nigger{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.idk{
    color: rgb(119, 119, 1);
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.oh{
    color:rgb(119, 119, 1);
    font-size: 25px;
}
.ahahah{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.how{
    background-image: url('C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/image/backgrr.PNG');
}
@font-face {
    font-family: "Minecraft_Seven_2";
    src: url(C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/nooo/Minecraft_Seven_2.ttf) format("truetype");
}
p {font-family: 'Minecraft_Seven_2', Arial, sans-serif;}}

/* Горизонтальное */

@media only screen and (min-device-width:
375px) and (max-device-width: 812px)

and (-webkit-min-device-pixel-ratio: 3)

and (orientation: landscape) {.className{color:red;}
.Nigger{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.idk{
    color: rgb(119, 119, 1);
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.oh{
    color:rgb(119, 119, 1);
    font-size: 25px;
}
.ahahah{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.how{
    background-image: url('C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/image/backgrr.PNG');
}
@font-face {
    font-family: "Minecraft_Seven_2";
    src: url(C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/nooo/Minecraft_Seven_2.ttf) format("truetype");
}
p {font-family: 'Minecraft_Seven_2', Arial, sans-serif;}}

/* ----------- Google Pixel ----------- */

/* Вертикальное и Горизонтальное */

@media screen and (device-width: 360px)

and (device-height: 640px)

and (-webkit-device-pixel-ratio: 3) {.className{color:red;}
.Nigger{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.idk{
    color: rgb(119, 119, 1);
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.oh{
    color:rgb(119, 119, 1);
    font-size: 25px;
}
.ahahah{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.how{
    background-image: url('C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/image/backgrr.PNG');
}
@font-face {
    font-family: "Minecraft_Seven_2";
    src: url(C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/nooo/Minecraft_Seven_2.ttf) format("truetype");
}
p {font-family: 'Minecraft_Seven_2', Arial, sans-serif;}}

/* Вертикальное */

@media screen and (device-width: 360px)

and (device-height: 640px)

and (-webkit-device-pixel-ratio: 3)

and (orientation: portrait) {.className{color:red;}
.Nigger{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.idk{
    color: rgb(119, 119, 1);
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.oh{
    color:rgb(119, 119, 1);
    font-size: 25px;
}
.ahahah{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.how{
    background-image: url('C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/image/backgrr.PNG');
}
@font-face {
    font-family: "Minecraft_Seven_2";
    src: url(C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/nooo/Minecraft_Seven_2.ttf) format("truetype");
}
p {font-family: 'Minecraft_Seven_2', Arial, sans-serif;}}

/* Горизонтальное */

@media screen and (device-width: 360px)

and (device-height: 640px)

and (-webkit-device-pixel-ratio: 3)

and (orientation: landscape) {.className{color:red;}
.Nigger{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.idk{
    color: rgb(119, 119, 1);
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.oh{
    color:rgb(119, 119, 1);
    font-size: 25px;
}
.ahahah{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.how{
    background-image: url('C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/image/backgrr.PNG');
}
@font-face {
    font-family: "Minecraft_Seven_2";
    src: url(C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/nooo/Minecraft_Seven_2.ttf) format("truetype");
}
p {font-family: 'Minecraft_Seven_2', Arial, sans-serif;}}

/* ----------- Google Pixel XL ----------- */

/* Вертикальное и Горизонтальное */

@media screen and (device-width: 360px)

and (device-height: 640px)

and (-webkit-device-pixel-ratio: 4) {.className{color:red;}
.Nigger{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.idk{
    color: rgb(119, 119, 1);
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.oh{
    color:rgb(119, 119, 1);
    font-size: 25px;
}
.ahahah{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.how{
    background-image: url('C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/image/backgrr.PNG');
}
@font-face {
    font-family: "Minecraft_Seven_2";
    src: url(C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/nooo/Minecraft_Seven_2.ttf) format("truetype");
}
p {font-family: 'Minecraft_Seven_2', Arial, sans-serif;}}

/* Вертикальное */

@media screen and (device-width: 360px)

and (device-height: 640px)

and (-webkit-device-pixel-ratio: 4)

and (orientation: portrait) {.className{color:red;}
.Nigger{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.idk{
    color: rgb(119, 119, 1);
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.oh{
    color:rgb(119, 119, 1);
    font-size: 25px;
}
.ahahah{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.how{
    background-image: url('C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/image/backgrr.PNG');
}
@font-face {
    font-family: "Minecraft_Seven_2";
    src: url(C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/nooo/Minecraft_Seven_2.ttf) format("truetype");
}
p {font-family: 'Minecraft_Seven_2', Arial, sans-serif;}}

/* Горизонтальное */

@media screen and (device-width: 360px)

and (device-height: 640px)

and (-webkit-device-pixel-ratio: 4)

and (orientation: landscape) {.className{color:red;}
.Nigger{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.idk{
    color: rgb(119, 119, 1);
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.oh{
    color:rgb(119, 119, 1);
    font-size: 25px;
}
.ahahah{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.how{
    background-image: url('C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/image/backgrr.PNG');
}
@font-face {
    font-family: "Minecraft_Seven_2";
    src: url(C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/nooo/Minecraft_Seven_2.ttf) format("truetype");
}
p {font-family: 'Minecraft_Seven_2', Arial, sans-serif;}}

/* ----------- Non-Retina Screens ----------- */

@media screen and (min-device-width: 1200px)

and (max-device-width: 1600px)

and (-webkit-min-device-pixel-ratio: 1) {.className{color:red;}
.Nigger{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.idk{
    color: rgb(119, 119, 1);
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.oh{
    color:rgb(119, 119, 1);
    font-size: 25px;
}
.ahahah{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.how{
    background-image: url('C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/image/backgrr.PNG');
}
@font-face {
    font-family: "Minecraft_Seven_2";
    src: url(C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/nooo/Minecraft_Seven_2.ttf) format("truetype");
}
p {font-family: 'Minecraft_Seven_2', Arial, sans-serif;}}

/* ----------- Retina Screens ----------- */

@media screen and (min-device-width: 1200px)

and (max-device-width: 1600px)

and (-webkit-min-device-pixel-ratio: 2)

and (min-resolution: 192dpi) {.className{color:red;}
.Nigger{
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.idk{
    color: yellow;
    font-weight: bold;
    text-align: left;
    font-size: 100px;
}
.oh{
    color:yellow;
    font-size: 25px;
}
.ahahah{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.how{
    background-image: url('C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/image/backgrr.PNG');
}
@font-face {
    font-family: "Minecraft_Seven_2";
    src: url(C:/Users/mptr0/Desktop/50-8-22/html/sdgfhhhhh/nooo/Minecraft_Seven_2.ttf) format("truetype");
}
p {font-family: 'Minecraft_Seven_2', Arial, sans-serif;}}

